/0.MS.Task.DiscordBot.Tree.0.In.txt
/0.MS.Task.DiscordBot.Tree.1.plantUML.txt
/0.MS.Task.DiscordBot.Tree.3.renderedPlantUML.txt
*.Task.DiscordBot.Tree.PlantUml.png
*.MS.Task.DiscordBot.Tree.env
*.txt
